#Btn {
  display: block;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: Auto;
}

input[type="text"] {
  border: 2px solid black;
  background-color: lightblue;
  width: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  height: 100px;
}

.container {
  /* border: 1px solid black; */
  margin: 0 auto;
  width: 21.8%;
  padding: 10px;
}
